<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>
  <%= f.hidden_field :parent_id %>
  <div class="form-group">
    <% if @folder.new_record? %>
      <%= f.button 'Create Folder', class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating Folder..."} %>
    <% else %>
      <%= f.button 'Rename Folder', class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Renaming Folder..."} %>
    <% end %>
  </div>
<% end %>
