<% unless user_signed_in? %> 
  <h1>Welcome to ShareBox</h1> 
  <p>File sharing web application you can't ignore.</p>    
<% else %>
  <div id="menu"> 
    <ul id= "top_menu">     
      <% if @current_folder %> 
        <li><%= link_to "Upload", new_sub_file_path(@current_folder) %></li> 
        <li><%= link_to "New Folder", new_sub_folder_path(@current_folder) %></li> 
      <% else %> 
        <li><%= link_to "Upload", new_upload_path %></li> 
        <li><%= link_to "New Folder", new_folder_path %></li> 
      <% end %>
    </ul> 
  </div>
  <%= render 'breadcrumbs' %>
  <div class="asset_list_header"> 
    <div class="file_name_header">File Name</div>
    <div class="file_size_header">Size</div>
    <div class="file_last_updated_header">Modified</div>
  </div>
  <div class="asset_list">
    <!-- Listing Folders -->
    <% @folders.each do |folder| %> 
        <div class="asset_details folder"> 
            <div class="file_name"><i class="fa fa-folder-o" aria-hidden="true"></i> <%= link_to folder.name, browse_path(folder) %></div> 
            <div class="file_size"> - </div> 
            <div class="file_last_updated"> - </div>
            <div class="actions"> 
              <div class="share"> 
                <%= link_to "Share" %> 
              </div> 
              <div class="rename"> 
                <%= link_to "Rename" %> 
              </div> 
              <div class="delete"> 
                <%= link_to "Delete", folder, confirm: 'Are you sure to delete the folder and all of its contents?', method: :delete %>
              </div> 
            </div>
        </div> 
    <% end %> 
    <!-- Listing Files -->
    <% @uploads.each do |upload| %> 
      <div class="asset_details file"> 
        <div class="file_name"><i class="fa fa-file-o" aria-hidden="true"></i> <%= link_to upload.file_name, upload_path(upload) %></div> 
        <div class="file_size"><%= number_to_human_size(upload.upload.metadata["size"]) %></div> 
        <div class="file_last_updated"><%= time_ago_in_words(upload.updated_at) %> ago</div>
        <div class="actions"> 
          <div class="download"> 
            <%= link_to "Download", upload.download %>
          </div> 
          <div class="delete"> 
            <%= link_to "Delete", upload, confirm: 'Are you sure?', method: :delete %> 
          </div> 
        </div> 
      </div> 
    <% end %>
  </div>
<% end %>