<% unless user_signed_in? %> 
  <h1>Welcome to ShareBox</h1> 
  <p>File sharing web application you can't ignore.</p>    
<% else %>
  <div class="asset_list_header"> 
    <div class="file_name_header">File Name</div>
    <div class="file_size_header">Size</div>
    <div class="file_last_updated_header">Modified</div>
  </div>
  <div class="asset_list">
    <div id="menu"> 
      <ul id= "top_menu">     
        <li><%= link_to "Upload", new_upload_path %></li> 
      </ul> 
    </div>
    <!-- Listing Folders -->
    <% @folders.each do |folder| %> 
        <div class="asset_details folder"> 
            <div class="file_name"><i class="fa fa-folder-o" aria-hidden="true"></i> <%= link_to folder.name, folder_path(folder) %></div> 
            <div class="file_size"> - </div> 
            <div class="file_last_updated"> - </div> 
        </div> 
    <% end %> 
    <!-- Listing Files -->
    <% @uploads.each do |upload| %> 
      <div class="asset_details file"> 
        <div class="file_name"><i class="fa fa-file-o" aria-hidden="true"></i> <%= link_to upload.file_name, upload_path(upload) %></div> 
        <div class="file_size"><%= number_to_human_size(upload.upload.metadata["size"]) %></div> 
        <div class="file_last_updated"><%= time_ago_in_words(upload.updated_at) %> ago</div> 
      </div> 
    <% end %>
  </div>
<% end %>