<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>Upload Your Files</h4>
  </div>
  <div class="panel-body">
    <%= form_for(@upload, html: { role: 'form' }) do |f| %>
      <% if @upload.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

          <ul>
          <% @upload.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.hidden_field :user_id, value: @current_user.id %>
        <%= image_tag f.object.upload_url, class: 'rounded mx-auto d-block' if f.object.upload_url %>
        <%= f.file_field :upload, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.button 'Upload', class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Uploading..."} %>
      </div>
    <% end %>
  </div>
</div>
