<!DOCTYPE html>
<html>
	<head>
		<title>SyookBox | <%= content_for?(:title) ? yield(:title) : "File Manager" %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag :modernizr %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= flash_messages if show_layout_flash? %>
		<div class="header_wrapper"> 
			<div class="logo">
				<%= link_to root_path do %>
					<img src="https://s3-ap-southeast-1.amazonaws.com/syookassets/rootassets/logo_52x44.png" alt="SyookBox">
					<!-- <i class="fa fa-dropbox" aria-hidden="true"></i> -->
					SyookBox
				<% end %>
			</div>
			<div id="login_user_status"> 
		    	<% if user_signed_in? %> 
		        	<%= current_user.email  %>  
		        	| 
		        	<%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
			    <% else %> 
		        	<em>Not Signed in.</em> 
		        	<%= link_to 'Sign in', new_user_session_path%> 
		        	or 
			      <%= link_to 'Sign up', new_user_registration_path%> 
			   <% end %> 
			</div>
		</div>
		<div class="container">
			<%= yield %>	
		</div>
	</body>
</html>
